#
# Dependencies Required to Use `latexgit`
#

# Basically, we only need the `latexgit` Python companion package.
# You can find it at https://thomasweise.github.io/latexgit_py,
# https://github.com/thomasWeise/latexgit_py, or at
# https://pypi.org/project/latexgit.
latexgit == 0.9.3
