#
# Dependencies Required to Use `texgit`
#

# Basically, we only need the `texgit` Python companion package.
# You can find it at https://thomasweise.github.io/texgit_py,
# https://github.com/thomasWeise/texgit_py, or at
# https://pypi.org/project/texgit.
texgit == 0.9.3
