#
# Dependencies Required to Build `latexgit`
#

# minify_html is needed to minify html output.
minify_html == 0.15.0

# for converting the additional markdown files to HTML
markdown == 3.7

# for converting files to HTML
Pygments == 2.18.0
